* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html, body, #root, #app {
  -webkit-user-select: none;
  cursor: default;
  height: 100%;
  width: 100%;
}

.marginTransition {
  -webkit-transition: margin 1s;
}

::-webkit-scrollbar {
  width: 0;
  transition: width 2s;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #2D0444;
  border-radius: 4px;
}

/*
div:hover::-webkit-scrollbar-thumb {
  background-color: #2D0444;
}

div:hover::-webkit-scrollbar {
  width: 4px;
}
*/

.scrollable {
  -webkit-background-clip: text;
  transition: background-color 1s;
}
.scrollable:hover {
  background-color: #2D0444;
}
.scrollable::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.scrollable::-webkit-scrollbar-track {
  display: none;
}
.scrollable::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: inherit;
}