.plotify-character-section {
    background: #eeeeee;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.plotify-character-section .list-flex {
    /* todo this could be optimized to 0 1 300px if the filter was fixed */
    flex: 0 0 300px;
    height: calc(100vh - 56px);
    z-index: 3;
}

.plotify-character-section .list-flex .plotify-character-list--filterable {
    flex: 1 1 auto;
}

.plotify-character-section .list-flex .btn-container {
    align-self: center;
    flex: 1 0 80px;
}

.plotify-character-section .profile-flex {
    flex: 3 3 auto;
}