{
  "presets": ["env", "react"],
  "plugins": [
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": ["Error", "Array"]
      }
    ],
    [ "add-module-exports" ],
    [ "transform-object-rest-spread" ]
  ]
}