/* Base */

:root {

  --border-color: #CECAC5;
  --font-color: #333333;

  --focus-primary-color: #EC7240;
  --focus-primary-color-red: 236;
  --focus-primary-color-green: 114;
  --focus-primary-color-blue: 64;
  --focus-secondary-color: #FFFFFF;

  --level-0-background-color: #FAFAFA;
  --level-1-background-color: #F6F6F5;

}

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  color: var(--font-color);
}

html, body, #root, #app {
  background-color: var(--level-0-background-color);
  -webkit-user-select: none;
  cursor: default;
  line-height: 1.4;
  height: 100%;
  width: 100%;
}

::selection {
  background-color: var(--focus-primary-color);
  color: var(--focus-secondary-color);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #E6E6E6;
}

::-webkit-scrollbar-thumb {
    background-color: #EE875D;
}

ul, ol, li {
  list-style-type: none;
}

input, input:focus, input:hover {
  border: none;
}

:focus {
  outline: 0;
}


/* Input */

#app input {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 0.5em 0.75em;
}

#app input::-webkit-input-placeholder {
  color: #AEA79F;
}

#app input:focus {
  border-color: var(--focus-primary-color);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075),
                    0px 0px 8px rgba(var(--focus-primary-color-red),
                                     var(--focus-primary-color-green),
                                     var(--focus-primary-color-blue), 0.6);
}


/* Characters List */

#characters {
  border-right: 1px solid var(--border-color);
  box-shadow: 0 0 7px 0 var(--border-color);
  float: left;
  height: 100%;
  width: 18em;
}

#characters-toolbar {
  background-color: var(--level-1-background-color);
  height: 45px;
  padding: 0.5em;
  position: relative;
}

#characters-toolbar label {
  position: absolute;
  top: 1em;
  left: 1.25em;
}

#characters-toolbar label i {
  color: #AEA79F;
}

#characters-toolbar label.filter-not-empty i {
  color: var(--font-color);
}

#characters-toolbar input {
  padding-left: 2em;
  width: calc(100% - 3em);
  float: left;
}

#characters-toolbar button {
  margin-left: 0.5em;
  height: 100%;
  width: 2.5em;
  background: linear-gradient(to bottom, #FDFDFD 0px, #EFEEED 100%);
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

#characters-toolbar button:active {
  background: linear-gradient(to bottom, #E4E4E4 0px, #F3F3F3 100%);
}

#characters-toolbar button i {
  background-color: transparent;
}

#characters ul {
  background-color: var(--level-1-background-color);
  border-top: 1px solid var(--border-color);
  height: calc(100% - 45px);
  overflow-y: auto;
}

#characters ul:empty::after {
  content: attr(data-empty-message);
  display: block;
  font-size: 1em;
  padding: 2em 1em;
  text-align: center;
}

#characters li {
  background-color: #FFFFFF;
  border-bottom: 1px solid var(--border-color);
  padding: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#characters li.new-character {
  font-style: italic;
}

#characters li.selected-character {
  background-color: var(--focus-primary-color);
  color: var(--focus-secondary-color);
  font-weight: bold;
}


/* Selected Character */

#character {
  height: 100%;
  margin-left: 18em;
  width: calc(100% - 18em);
}

#character p {
  padding-top: calc(45px + 2em);
  text-align: center;
  vertical-align: middle;
}
