.plotify-about-dialog img {
    display: block;
    float: left;
}

.plotify-about-dialog .content {
    margin-left: 152px;
}

.plotify-about-dialog p {
}

.plotify-about-dialog p.description {
    text-align: justify;
}

.plotify-contributors-dialog .mdl-list__item {
    padding-top: 8px;
    padding-bottom: 8px;
}