.plotify-welcome-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 100vh;
}

/*
.plotify-welcome-section .plotify-image-card {
    transition: box-shadow .4s, background-size .2s ease-in, opacity .4s;
    background-position: center;
    background-size: 100%;
    backface-visibility: hidden;
}

.plotify-welcome-section .plotify-image-card:hover {
    cursor: pointer;
    background-size: 105%;
    opacity: .9;
}*/

.plotify-welcome-section .welcome-flex-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 500px;
    width: 60vw;
}

.plotify-welcome-section .plotify-info-version .version-description {
    flex: 1 1 auto;
    text-align: center;
}

.plotify-welcome-section .plotify-info-version .info-logo {
    flex: 0 1 auto;
    align-self: center;
    margin-top: 50px;
}

.plotify-welcome-section .plotify-info-version {
    align-self: center;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plotify-welcome-section .actions-flex-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 3 3 auto;
}

.plotify-welcome-section .actions-flex-box .actions-card {
    width: 100%;
    vertical-align: top;
    background: transparent;
    box-shadow: none;
}

.plotify-welcome-section .actions-card .action-panel {
    position: relative;
    margin: 32px;
    background: white;
    transition: box-shadow .4s;
}

.plotify-welcome-section .actions-card .action-panel img {
}

.plotify-welcome-section .actions-card .action-panel h5 {
    display: inline-block;
    position: absolute;
    top: 0;
    margin: 16px;
}

.plotify-welcome-section .actions-card .action-panel p {
    display: inline-block;
    margin-left: 16px;
    position: relative;
    top: 24px;
}

.plotify-welcome-section .actions-card .action-panel:hover {
    cursor: pointer;
}

.plotify-welcome-section .actions-card .action-panel:hover img {
}

.plotify-welcome-section .actions-card .actions-panel.new-story {

}

.plotify-welcome-section .actions-card .actions-panel.open-story {

}